# action(type="omfwd" Protocol="udp" Target="influxdb" Port="6514" Template="RSYSLOG_SyslogProtocol23Format")


$ActionQueueType LinkedList # use asynchronous processing
$ActionQueueFileName srvrfwd # set file name, also enables disk mode
$ActionResumeRetryCount -1 # infinite retries on insert failure
$ActionQueueSaveOnShutdown on # save in-memory data if rsyslog shuts down
*.*  @influxdb:6514;RSYSLOG_SyslogProtocol23Format
