apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus/prometheus
    isDefault: true
    version: 1
    editable: true
    
  - name: influxdb-lat
    type: influxdb
    access: proxy
    orgId: 1
    url: http://influxdb:8086
    database: latency

  - name: influxdb-telegraf
    type: influxdb
    access: proxy
    orgId: 1
    url: http://influxdb:8086
    jsonData:
      dbName: telegraf
